*.gz
venv
*.pyc
*.egg*
.coverage
.tox
venv
_build
build/
.idea/
.DS_Store
.cache/
.env
.envrc
/dist
/tmp
models/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/env.config
eb
nginx.pid